<ion-header>
  <ion-toolbar>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let place of loadedPlaces">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{place.title}}</ion-card-title>
          </ion-card-header>
          <ion-img style="width:300px; height:300px; margin:auto;" [src]="place.imageUrl"></ion-img>
          <ion-card-content class="ion-text-center">
            <p>{{place.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
