<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Login' : 'Sign Up'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- this form tag is an angular forms superpower giving us an object with properties containing this form's values -->
  <!-- using the #f local reference, and passing in this 'ngForm' value, angular gives us access to this form object through the onSubmit(f) handler referencing f.form.value -->
  <!-- ngForm is for the forms object, add 'ngModel' to the tag to get value from it, ngModel is for the forms controller (validating n such) -->
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <!-- With wrapping the below nesting of tags, we get cool animations. This is usually within another <ion-list> tag in this case. -->
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none"
              ><ion-label>
                Should be a valid email address.
              </ion-label>
              <!-- this message only shows when the email input is not valid --></ion-item
            >
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none"
              ><ion-label>
                Must have at least six characters.
              </ion-label>
              <!-- this message only shows when the pw requirement isn't met -->
              </ion-item
            >
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button
            type="button"
            color="secondary"
            fill="outline"
            expand="block"
            (click)="onSwitchAuthMode()"
            >Switch to {{ isLogin ? 'Sign Up' : 'Login'}}
            <!-- the type="button" attribute here keeps the form from being submitted when this gets clicked -->
          </ion-button>
          <ion-button
            type="submit"
            color="secondary"
            fill="solid"
            expand="block"
            (click)="onLogin()"
            [disabled]="!f.valid"
            >Login</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner> -->
  <!-- if the above line is included, then also add *ngIf="!isLoading" to the button tag below. -->
</ion-content>
