<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>Details for {{place.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center ion-padding">
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  sizeSm="6" offsetSm="3">
        <p >{{place.description}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" class="text-center">
        <ion-button (click)="onBookPlace()" class="ion-padding" color="primary"
          >Book this place!</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
